/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    background-color: #e9ffde;
    
}

a{
    color: #333333;
}

a:hover {
    color: #000000;
    background-color: transparent;
}

#main_content {
    background-color: #fffdf2;
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2);
    box-shadow: 0 6px 20px 0 rgba(0,0,0, 0.19);
    padding: 1.5em;
    overflow:auto;
}

#search {
    padding: 5px;
}

#id {
    position: relative;
}
#searchResults {
    background-color: #f0ecda;
    position: absolute;
    display: none;
    margin-left: 12em;
    margin-top: 0.5em;
}

#searchRequestList {
    list-style-type: none;
}

.searchResult {
    margin-right: .5em;
    margin-left: -2.5em;
    margin-top: 0.5em;
    padding: 0.25em;
    background-color: #fffdf2;
}

.map {
        height: 400px;
        width: 100%;
      }